*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    background-color: aqua;
}

.container-fluid{
    height: 100vh;
}
textarea{
    resize: none;
    height: 100px;
}
.text-box{
    font-size: x-small;
}
.col-12{
    background-color: lightcyan;
    height: 100%;
}
.mess-container{
    width: 50%;
}
.message-box{
    display: none;
}
.result{
    cursor: pointer;
}
